@import 'tailwindcss/base';

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
strong {
  @apply font-black;
}

::selection {
  text-shadow: none;
  @apply bg-mango-500 text-white opacity-100;
}
